{% extends "dispenser/base.html" %}
{% load django_bootstrap5 %}

{% block header %}
  <h2>Мои IP-адреса</h2>
{% endblock header %}

{% block content %}
  {% if messages %}
    {% bootstrap_messages %}
  {% endif %}

  <div class="container">
    {% url 'dispenser:get_ip' 'v4' as ipv4 %}
    {% bootstrap_button "Получить IPv4-адрес" button_type="link" button_class="btn-outline-primary" href=ipv4 %}

    {% url 'dispenser:get_ip' 'v6' as ipv6 %}
    {% bootstrap_button "Получить IPv6-адрес" button_type="link" button_class="btn-outline-primary" href=ipv6 %}
  </div>

  <div class="container">
    <table class="table">
      {% for ip in ip_addresses %}
        <tr>
          <td>
            {{ ip }}
          </td>
          <td>
            выдан {{ ip.claimed_at }}
          </td>
          <td>
            {% url 'dispenser:delete_ip' ip.id as delete_ip %}
            {% bootstrap_button "Удалить IP" button_type="link" button_class="btn-outline-danger" href=delete_ip %}
          </td>
        </tr>
      {% empty %}
        У вас пока нет IP-адресов.
      {% endfor %}
    </table>

    {% bootstrap_pagination page_obj %}
  </div>

{% endblock content %}