{% extends "dispenser/base.html" %}


{% block header %}
  <h2>Мои IP-адреса</h2>
{% endblock header %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <b>{{ message }}</b>
    {% endfor %}
    <br>
  {% endif %}

  {% for ip in ip_addresses %}
    {{ ip }} (выдан {{ ip.claimed_at }})
    <a href="{% url 'dispenser:delete_ip' ip.id %}">Удалить IP</a>
    <br>
  {% empty %}
    У вас пока нет IP-адресов.
  {% endfor %}

  <a href="{% url 'dispenser:get_ip' 'v4' %}">Получить IPv4-адрес</a>
  <br>
  <a href="{% url 'dispenser:get_ip' 'v6' %}">Получить IPv6-адрес</a>
{% endblock content %}