{% extends "dispenser/base.html" %}

{% block header %}<h2 class="display-2">IP dispenser</h2>{% endblock header%}
{% block content %}
<div class="container">
  <p>
    Здесь вы можете заказать себе лучшие IP-адреса. Все просто: берете адрес и приставляете к нему палец.
    Когда палец пройдет сквозь адрес, он получит IP-адрес.
    Получается дешевле, чем если бы вы купили его в магазине.
    Адрес действителен, пока палец остается в адресе.
    Так же можно узнать пароль любого пользователя.
    Я уверен, что это очень полезно на случай, если ваш телефон сломается.
  </p>

  <p>
    У каждой страны свои IP, и они не повторяются.
    Вам нужен IP-адрес вашей мамы, сестры и т.д., который будет уникальным для каждого человека в мире.
    При покупке IP-адреса его необходимо зарегистрировать на адресном сервере компании "Интернет".
    После регистрации вам будет присвоен уникальный IP.
    Далее вы сможете воспользоваться всеми возможностями IP: например, при помощи IP-телефона позвонить в другой город или страну, а также создать свой сайт.
  </p>

  </p>
    Бесплатно.
    В течение 30 секунд.
    У вас есть 5 вариантов адреса.
    Если не нравится ни один, можете попросить следующий.
    И так до тех пор, пока не найдете свой.
    Для этого введите в поле поиска IP-адрес вашего компьютера, а затем нажмите кнопку "Поиск".
    Результат будет автоматически сохранен в вашем браузере.
    Можно скрыть IP-адрес на сайте (можно кликнуть по ссылке «Показывать»), но тогда не будет адресной строки.
  </p>

  <p>
    По вашему адресу доставят сразу несколько, чтобы вы могли выбрать для себя лучший IP.
    Можно также получить IP-адрес через Интернет, отправив запрос на специальный сайт.
    Для этого надо ввести свой адрес и пароль, а затем нажать на кнопку "Получить IP".
    В этом случае ваш адрес будет сгенерирован в течение нескольких часов.
    Я живу в Лондоне.
    А это значит, что я должен был бы жить на востоке Англии, но на самом деле я живу на западе Англии.
  </p>

  <p>
    Когда вы спите, они записываются на ваш компьютер.
    Если кто-то попробует взломать ваш IP-адрес, вы об этом узнаете.
    Вы даже можете попробовать заказать их в другой стране, чтобы избежать этой пытки.
    Как вам, например, Москва?
    Здесь живут очень добрые люди.
    Они не дадут вам IP-адреса.
    Но можно позвонить по телефону и заказать бесплатный IP.
    Очень вежливо вас переключат на тех, кто продает вам IP-адрес.
  </p>
  <blockquote class="blockquote">Балабоба одобряет</blockquote>
</div>
{% endblock content %}